---
layout: default
---

<div class="home">

  {{ content }}

  <div class="post-content">
    <p>I have been a PhD student at the Security in Telecommunications (SecT) chair, TU Berlin/Telekom Innovation Labs since late 2013. I will be <strong>graduating in 2017</strong>.</p>

<p>My research focuses on <strong>static analysis assisted vulnerability discovery</strong>. All of my papers are publicly available through my <a href="https://scholar.google.com/citations?hl=en&amp;user=lsdZxf8AAAAJ&amp;view_op=list_works&amp;sortby=pubdate"><strong>google scholar</strong></a> page.</p>

  </div>

</div>
